{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "no-console": "off",
    "indent": "off",
    "space-before-function-paren": "off",
    "quotes": "off",
    "object-curly-spacing": "off",
    "vue/html-closing-bracket-spacing": "off"
  }
}