* {
  font-family: Raleway, serif;
}

body, html {
  margin: 0;
  padding: 0;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  overflow-x: hidden;
}

img {
  display: block;
}

.menu-opened {
  transform: translateX(-70svw);
}

* {
  color: black;
}

.title-small {
  font-size: 26px;
  font-weight: normal;
}

.title-medium {
  font-size: 32px;
  font-weight: normal;
}

.title-large {
  font-size: 38px;
  font-weight: bold;
}

.text-medium {
  font-size: 18px;
  font-weight: normal;
}

.text-large {
  font-size: 24px;
  font-weight: normal;
}